.cardContainer {
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  height: 160px;
  width: 250px;
  cursor: pointer;
  padding: 10px;
}
.col-md-8 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.reactionButton {
  background-color: transparent;
  border: none;
}
.felxdispaly {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.isliked {
  border: none;
  background-color: transparent;
  box-shadow: 0px 5px 10px #4ca3dd;
  border-radius: 50px;
}

.Disisliked {
  border: none;
  background-color: transparent;
  box-shadow: 0px 5px 10px #f70031;
  border-radius: 50px;
}
.likes-dislikes-Rate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}
